
# Ignore everything in parent_folder
flavor/*/build/
flavor/*/install/
flavor/*/venv/
Testing/*
examples/*
SimulationResults_FEMU_VFM_article/*

source/eigen
source/gmodel
source/gtest
source/hdf5
source/netcdf-c
source/omega_h
source/parmetis
source/scorec
source/trilinos
source/zlib-ng

source/calibr8/test/mesh/

# Do not ignore these specific subfolders

